.headerViewNone {
    display: none;

}
.headerView {
    display: flex;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    height: 100vh;
    background-color: var(--tro-blue);
    overflow-y: hidden;
    transition: all 500ms;
    z-index: 9999;
}

.harmburger {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-self: flex-start;
}

.harmburgerView {
    cursor: pointer;
    padding: .3em;
    margin: .2em;
    margin-right: 1em;
    margin-top: 1em;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: .2em;
    box-shadow: 2px 2px 2px 1px #00000029;
    transition: all 500ms;
}

.harmburgerView>div {
    transition: all 500ms;
    background-color: var(--tro-blue);
    width: 1.8em;
    height: .3em;
    margin: .10em 0em;
    border-radius: .2em;
}

.close {
    width: 1.5em;
    height: 1.5em;
}

.header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: block;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

nav ul li {
    text-decoration: none;
    list-style: none;
    padding: 0em .5em;
    margin: 1em 0em;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    font-family: var(--Montserrat);
    font-size: .94em;
    font-weight: var(--semiBold);
    color: var(--white);
}