.login-view1 {
    background: url('../../../Assets/Images/homelogo.png') no-repeat;
    object-fit: fill;
    display: flex;
    width: 100vw;
    justify-content: flex-end;
    height: 92vh;
}
.login-view {
    background-image: linear-gradient(180deg, var(--white), var(--tro-brownish));
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

/* form{
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 97vw;
} */
.inputview {
    position: relative;
    display: flex;
    width: 90%;
}

.input {
    padding: .8em 4em;
    padding-left: 2em;
    font-family: var(--Montserrat);
    font-size: .94em;
    font-weight: var(--semiBold);
    border: none;
    margin-bottom: 1.3em;
    background: transparent !important;
    color: var(--tro-blue);
    border-bottom: 2px solid var(--tro-blue);
}

.inputview .absolute {
    position: absolute;
    top: .8em;
    left: .1em;
    width: .9em;
    height: 1em;
}

.inputview .absolute1 {
    position: absolute;
    top: .8em;
    right: .5em;
    width: 1.2em;
    margin-left: 2em;
}

.errortext {
    color: var(--error);
    font-family: var(--Montserrat);
    font-size: .75em;
    font-weight: var(--regular);
}

.btnview {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnview button {
    width: 100%;
    height: 3.125em;
    border: none;
    color: var(--white);
    background-color: var(--tro-blue);
    font-family: var(--Montserrat);
    font-size: .875em;
    border-radius: .5em;
    font-weight: var(--bold);
}

.supportview{
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contacttext {
    color: var(--tro-blue);
    font-family: var(--Montserrat);
    font-size: .94em;
    margin-bottom: 1em;
    font-weight: var(--regular);
}
.contacttext1 {
    color: var(--tro-brown);
    font-family: var(--Montserrat);
    font-size: .94em;
    margin-bottom: 1em;
    font-weight: var(--regular);
}

@media screen and (min-width: 1100px) {
    .login-view {
        margin-top: 0em;
    }
    
}