$primary : #01065B;
$secondary : #7A0D0C;
$light : #FAF1EC;
$white : #fff;

@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat');