:root {
  --Montserrat: 'Montserrat', sans-serif;
  --tro-blue: #01065B;
  --tro-gold: #CB601A;
  --white: #FFFFFF;
  --thin: 100;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semiBild: 600;
  --bold: 700;
  --error: #FF0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}