/*  Go thorough the readme file to understand why em units is used instead of px unit for sizes. */

:root {
  --Montserrat: 'Montserrat', sans-serif;
  --tro-blue: #01065B;
  --tro-whine: #7C1516;
  --tro-gold: #CB601A;
  --tro-brownish: rgba(201, 96, 39, .25);
  --tro-brown: #7D1312;
  --white: rgb(255, 255, 255);
  --white-linear: rgb(255, 255, 255,.07);
  --tro-pink: #FAF7F7;
  --thin: 100;
  --tro-gray: #DEDEDE;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semiBold: 600;
  --bold: 700;
  --error: #FF0000;
  --cardshadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  --footer-blue: #02042E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}